* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.flex-container > div {
    width: 50%;
    height: 50%;
}

.flex-container > :first-child {
    background-color: red;
    /* 모든 프로퍼피를 3초의 시간 동안 변화시킨다  */
    transition: all 3s;
}

.flex-container > :first-child:hover {
    background-color: yellow;
}

.flex-container > :nth-child(2) {
    background-color: orangered;
    transition-property: background-color, font-size, padding, color;
    transition-duration: 0.5s, 5s, 1s, 3s;
}

.flex-container > :nth-child(2):hover {
    background-color: palevioletred;
    color: white;
    font-size: 65px;
    padding: 80px;
}

.flex-container > :nth-child(3):hover {
    background-color: tomato;
}

.flex-container > :nth-child(3) {
    background-color: seagreen;
}

.flex-container > :nth-child(3) > div {
    border: solid black 3px;
    color: white;
    width: 40%;
    background-color: salmon;
    margin: 5%;
    transition: width 2s;
}
.flex-container > :nth-child(3) > div:first-child {
   transition-timing-function: ease;
}

.flex-container > :nth-child(3) > div:first-child {
    transition-timing-function: linear;
}

.flex-container > :nth-child(3) > div:first-child {
    transition-timing-function: ease-in;
}

.flex-container > :nth-child(3) > div:first-child {
    transition-timing-function: ease-out;
}

.flex-container > :nth-child(3) > div:first-child {
    transition-timing-function: ease-in-out;
}

.flex-container > :nth-child(3) > div:hover {
    width: 90%;
}

.flex-container > :nth-child(4) > div {
    border: solid black 3px;
    color: white;
    width: 40%;
    background-color: navy;
    margin: 5%;
    transition: width 3s;
}

.flex-container > :nth-child(4) > div:first-child {
    transition-delay: 0s; /* 기본값*/
}

.flex-container > :nth-child(4) > div:first-child {
    transition-delay: 2s; /* 마우스를 올리고 2초 있어야 변화가 시작됨*/
}

.flex-container > :nth-child(4) > div:hover {
    width: 90%;
}